@tailwind base;
@tailwind components;
@tailwind utilities;


.swal2-popup {
    background-color: #1f2937 !important;
    color: #fff !important;
    box-shadow: 0px 0px 9px 0px #ffffff30;
}


.rdk-autocomplete input:focus+ul,
ul:hover {
    display: block;
}
