@tailwind base;
@tailwind components;
@tailwind utilities;


input:focus-visible {
    outline: none !important;
}
.swal2-popup {
    background-color: #1f2937 !important;
    color: #fff !important;
    box-shadow: 0px 0px 9px 0px #ffffff30;
}


.rdk-autocomplete input:focus+ul,
ul:hover {
    display: block;
}

:root {
    --fa-primary-color: #F0AF01 !important;
    --fa-secondary-color: #F0AF01 !important;

    --rdk-pc: #27272A;
    --rdk-sc: #3F3F46;

}

.rdk-pc {
    background-color: var(--rdk-pc);

}

.rdk-sc {
    background-color: var(--rdk-sc);

}